In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.rcParams['font.family'] = 'Malgun Gothic'

In [15]:
consump_dist=pd.read_excel('./가구특성별_소비지출구간별_가구분포.xlsx')

In [25]:
consump_dist.describe()

            2021년       2022년       소비지출구간    2021년_기댓값    2022년_기댓값
count  322.000000  322.000000   322.000000   322.000000   322.000000
mean    14.284161   14.285714  2250.000000   369.271739   382.465839
std     11.793090   11.839342  1572.247632   440.275059   457.797523
min      0.000000    0.000000   500.000000     0.000000     0.000000
25%      3.725000    3.700000   750.000000    49.312500    40.500000
50%     12.200000   12.650000  1750.000000   239.375000   234.750000
75%     21.600000   21.675000  4000.000000   499.000000   534.375000
max     52.400000   50.500000  5000.000000  2096.000000  2320.000000